* {
  text-align: center;
}
#btn {
  border-radius: 50px;
  background-color: black;
  color: white;
  border-color: black;
  box-shadow: 5px 5px 10px black;
  
}
#champs {
  border-radius: 50px;
  background-color: white;
}
body {
  background: linear-gradient(to right, blue, cyan);
}
img {
  border-radius: 70px;
  height: 200px;
  width: 200px;
  margin: 25px;
  box-shadow: 5px 5px 10px yellow;
}
h1 {
  font-size:20px;
  text-shadow: 5px 5px 10px black;
  color: black;
}
#champs {
  border: 1;
  border-color: blue;
  box-shadow: 5px 5px 10px blue;
}
.blanc {
  background: white;
  color: black;
  margin: 30px;
  position: absolute;
  top: 50px;
  padding: 40px;
  border-radius: 30px;
}